[Desktop Entry]
Type=Application
Name=Chess
Comment=chess.com client
Exec=google-chrome-stable --app=https://chess.com
Icon=web-browser
Categories=Games;WebBrowser;
Terminal=false
