[Desktop Entry]
Type=Application
Name=Geogebra
Comment=Geogebra
Exec=google-chrome-stable --app=https://geogebra.org/classic
Icon=web-browser
Categories=Network;WebBrowser;
Terminal=false
