[Desktop Entry]
Type=Application
Name=Geogebra
Comment=Geogebra
Exec=brave-browser --app=https://geogebra.org/classic
Icon=web-browser
Categories=Network;WebBrowser;
Terminal=false
