[Desktop Entry]
Type=Application
Name=Teams
Comment=microsoft teams
Exec=google-chrome-stable --app=https://teams.microsoft.com
Icon=web-browser
Categories=Communication;WebBrowser;
Terminal=false
