[Desktop Entry]
Type=Application
Name=Youtube
Comment=Youtube client
Exec=google-chrome-stable --app=https://youtube.com/feed/subscriptions
Icon=web-browser
Categories=Network;WebBrowser;
Terminal=false

